################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/ObeliksTest/Debug
/ObeliksTest/x64
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/For1C
/Win32/Debug
/Win32Debug
/x64
